
.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 50px;
    background-color: #2b143e;
    color: #ffffff;
    margin-top: auto;
}

.marco__container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.github-info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.github-logo {
    background-image: url('../../assets/logos/github.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.github-info__container > h1 {
    font-size: 1rem;
}

.github-link {
    color: #ffffff;
}


@media screen and (max-width: 480px) {
    
.footer__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    height:fit-content;
    padding: 8px;
}


.marco__container {
    font-size: 0.8rem;
}

.github-logo {
    width: 20px;
    height: 20px;
}

.github-info__container > h1 {
    font-size: 0.8rem;
}
}